@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SP-light";
  src: url(/public/Space_Grotesk/static/SpaceGrotesk-Light.ttf);
}
@font-face {
  font-family: "SP-Regular";
  src: url(/public/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}

@font-face {
  font-family: "SP-medium";
  src: url(/public/Space_Grotesk/static/SpaceGrotesk-Medium.ttf);
}

@font-face {
  font-family: "SP-bold";
  src: url(/public/Space_Grotesk/static/SpaceGrotesk-Bold.ttf);
}
